body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url('../img/Image_fond_geometry_dash.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#networkError{
    width: 8vh;
    position: absolute;
    top: 1vh;
    right: 4vh;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    font-weight: bold;
    width: 100%;
    margin-bottom: 2vh;
    color: white;
}

.player-info img {
    width: 15vw;
    height: 5vh;
    margin-bottom: 2vh;
}

.player-stock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/game/stock.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20vw;
    height: 10vh;
    padding: 1vh;
    font-family: 'PUSAB', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 0.2vw;
}

@font-face {
    font-family: 'PUSAB';
    src: url('../img/game/PUSAB___.otf');
}

.board {
    margin-left: 8vw;
    margin-right: 8vw;
    display: grid;
    grid-template: repeat(8, 7vh 2vh) 7vh / repeat(8, 7vh 2vh) 7vh;
}

.cell {
    border: 0.2vh solid black;
    row-gap: 0.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player {
    width: 70%;
    height: 70%;
    position: absolute;
}

.player1, .player1 {
    background-image: url('../img/Skin002.png');
    background-size: cover;
    filter: url(#svgTintRed);
}

.player2 {
    background-image: url('../img/Skin005.png');
    background-size: cover;
    filter: url(#svgTintGreen);
}

.barrier {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    position: absolute;
}

.cell.player-cell {
    background-image: url('../img/RegularBlock01.png');
    background-size: cover;
}

.cell.barrier-cell {
    border: none;
}

.hidden {
    display: none;
}

@keyframes blinkingEffect {
    0% { background-color: rgba(255, 255, 255, 0.2); }
    50% { background-color: rgba(255, 255, 255, 0.7); }
    100% { background-color: rgba(255, 255, 255, 0.2); }
}

.blinking {
    animation: blinkingEffect 1s linear infinite;
}

.modal, .modal-temp {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
}

.modal-content, .modal-content-temp, .modal-content-end {
    position: absolute;
    background-color: #fefefe;
    padding: 2%;
    border: 6px solid black;
    width: auto;
    max-width: 30%;
    min-width: 5%;
    height: auto;
    max-height: 80%;
    min-height: 5%;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font: 150% 'joystix', sans-serif;
    text-align: center;
}
