body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.top-image {
    height: 10vh;
    width: auto;
    margin-top: 1vh;
    margin-bottom: 8vh;
}

#usernameBlock,
#passwordBlock {
    margin-bottom: 10vh;
}

#validationBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#signUpButton {
    width: 30vw;
    height: auto;
}

#validationBlock img {
    width: 20vw;
    height: auto;
}

label {
    display: block;
}

label img {
    height: 8vh;
    width: auto;
}

#usernameSignup,
#passwordSignup {
    width: 80vw;
    height: 8vh;
    font-size: 7vh;
}



