body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.top-image {
    height: 10vh;
    width: auto;
    margin-top: 1vh;
    margin-bottom: 8vh;
}

#friendsResults {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 70vw;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#friendsResults li {
    background-image: url('../img/friends/liBackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 5vw;
    margin-bottom: 3vh;
    margin-left: 6vw;
    list-style-type: none;
    width: 70vw;
}

#friendsResults li a {
    text-decoration: none;
    color: white !important;
    font-family: 'PUSAB', sans-serif;
    font-size: 6vh;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    letter-spacing: 0.1vw;
}

@font-face {
    font-family: 'PUSAB';
    src: url('../img/game/PUSAB___.otf');
}

#buttonContainer {
    position: fixed;
    bottom: 12vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

#buttonContainer a {
    width: 33%;
}

#buttonContainer img {
    width: 100%;
    height: auto;
}
