body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.top-image {
    height: 10vh;
    width: auto;
    margin-top: 1vh;
    margin-bottom: 8vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.friend-label {
    margin-bottom: 3vh;
}

#searchBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2vh;
    align-items: center;
}

input[type="text"] {
    width: 85%;
    height: 8vh;
    box-sizing: border-box;
    font-size: 6vh;
}

#okButton {
    width: auto;
    height: 8vh;
}

#searchResults {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#searchResults li {
    font-family: 'PUSAB', sans-serif;
    color: white;
    font-size: 6vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 0.1vw;
}

@font-face {
    font-family: 'PUSAB';
    src: url('../img/game/PUSAB___.otf');
}
