.player-info {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    font-weight: bold;
    width: 100%;
    color: white;
}

body {
    overflow: hidden;
}

.active {
    opacity: 0.4;
}

.side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    max-height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100%;
    width: 100%;
}

.board {
    justify-self: center;
    align-self: center;
}

.interaction-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    margin: 0 2%;

    transition: transform 0.2s ease-out, opacity 0.2s;
    transform: translateY(-10px);
    opacity: 0;
}

.interaction-container.active {
    transform: translateY(0);
    opacity: 1;
}

.interaction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 2vh;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    padding: 1%;

    font-size: calc(0.5vh + 0.5vw);
    font-family: 'joystix', sans-serif;
    text-align: center;
}

.popup {
    position: absolute;
    left: calc(50vw - 12.5vw);
    z-index: 100;
    width: 25%;
    height: fit-content;
    max-height: 80%;

    border-radius: 2vh;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid black;

    font-size: calc(0.7vh + 0.7vw);
    font-family: 'joystix', sans-serif;
    text-align: center;

    transition: opacity 0.2s;
    opacity: 0;
    visibility: hidden;
}

#top-popup {
    top: 0;
}

#bottom-popup {
    bottom: 0;
}

.popup.visible {
    opacity: 1;
    visibility: visible;
}

#pin {
    aspect-ratio: 1 / 0.9;
    height: 5%;

    display: flex;
    align-self: start;
    position: absolute;
    bottom: 3%;
    transition: opacity 0.1s ease-out;
}

@font-face {
    font-family: 'joystix';
    src: url('../font/joystix_monospace.otf');
}

.modal {
    display: none; /* Caché par défaut */
    position: fixed; /* Rester en place */
    z-index: 1; /* Asseoir sur le dessus */
    left: 0;
    top: 0;
    width: 100%; /* Pleine largeur */
    height: 100%; /* Pleine hauteur */
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgb(0,0,0); /* Couleur de fond */
    background-color: rgba(0,0,0,0.4); /* Couleur de fond avec opacité */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré horizontalement */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Peut être plus ou moins, selon la préférence */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
