.burger-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
    z-index: 1000;
=======
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.show {
    transform: translateX(0);
}

.rotate-image {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.rotate-image-reverse {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.burger-menu-button {
    position: fixed;
    top: 3vh;
    left: 2vw;
    z-index: 999;
    width: 4vw;
    height: 8vh;
    transition: left 0.5s ease;
}

.burger-menu-button img {
    width: 100%;
    height: 100%;
}

.burger-menu-button.open {
    left: 33vw;
    .burger-chat-button {
        left: 33vw;
    }
}

.burger-menu ul {
    list-style-type: none;
    padding-top: 10vh;
    margin: 0;
}

.burger-menu ul li {
    margin-bottom: 5vh;
}

.burger-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 8vh;
    display: block;
}

.burger-menu ul li img {
    width: 20vw;
}

#accueilButton img {
    height: 8vh;
}

#deconnexionButton img {
    height: 6vh;
}

.show {
    display: block;
}

