<?xml version='1.0' encoding='utf-8'?>
<widget id="ps8.geoquorydash" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Geoquorydash</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="home.html" />
    <preference name="scheme" value="http" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <access origin="*" />
    <allow-navigation href="http://localhost/*" />
    <allow-navigation href="http://geoquorydash.ps8.academy/*" />

    <preference name="scheme" value="http" />
    <preference name="hostname" value="geoquorydash.ps8.academy" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />

    <preference name="LottieRemoteEnabled" value="false" />
    <preference name="LottieAnimationLocation" value="www/lottie/first_anim.json" />
    <preference name="LottieLoopAnimation" value="true" />
    <preference name="LottieBackgroundColor" value="#345128" />
    <preference name="LottieEnableHardwareAcceleration" value="true" />
    <preference name="LottieFullScreen" value="true" />
    <preference name="LottieHideTimeout" value="5000" />
    <preference name="LottieCacheDisabled" value="true" />

    <preference name="SplashScreenDelay" value="0"/>
    <preference name="AutoHideSplashScreen" value="true"/>

    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <preference name="orientation" value="landscape" />
</widget>
