body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url('../img/Image_fond_geometry_dash.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    margin: 3vh 3vw 5vh;
}

.profile-container-me {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    margin: 3vh 3vw 5vh;
}


.profile-picture {
    width: 15vw;
    height: 15vw;
    border-radius: 5px;
    margin-right: 4vw;
    margin-bottom: 10vh;
}

.username {
    font-size: 12vh;
    color: white;
    font-family: 'PUSAB', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 0.1vw;
}

@font-face {
    font-family: 'PUSAB';
    src: url('../img/game/PUSAB___.otf');
}

.hidden {
    display: none;
}

.custom-button {
    position: absolute;
    top: 5vh;
    right: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15vh;
    width: 25vw;
    border-radius: 15px;
    cursor: pointer;
}

