body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url('../img/Image_fond_geometry_dash.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.burger-menu-button {
    position: fixed;
    top: 3vh;
    left: 2vw;
    z-index: 999;
    width: 4vw;
    height: 8vh;
}

.burger-menu-button img {
    width: 100%;
    height: 100%;
}

.burger-menu-button.open {
    left: 33vw;
    .burger-chat-button {
        left: 33vw;
    }
}

.burger-chat-button {
    position: fixed;
    top: 15vh;
    left: 2vw;
    z-index: 999;
    width: 4vw;
    height: 8vh;
}

.burger-chat-button img {
    width: 100%;
    height: 100%;
}

.burger-chat-button.open {
    left: 33vw;
    .burger-menu-button {
        left: 33vw;
    }
}

.buttons{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10vw;
}

#newGameButton img, #gameHistoryButton img {
    width: 30vw;
    height: auto;
}

