.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.show {
    display: block;
    transform: translateX(0);
}

.burger-menu-button {
    position: fixed;
    top: 3vh;
    left: 2vw;
    z-index: 999;
    width: 4vw;
    height: 8vh;
}

.burger-menu-button img {
    width: 100%;
    height: 100%;
}

.burger-menu-button.open {
    left: 33vw;
}

.burger-menu ul {
    list-style-type: none;
    padding-top: 10vh;
    margin: 0;
}

.burger-menu ul li {
    margin-bottom: 5vh;
}

.burger-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 8vh;
    display: block;
}

.burger-menu ul li img {
    width: 20vw;
}

#accueilButton img {
    height: 8vh;
}

#deconnexionButton img {
    height: 6vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 998;
    display: none;
    backdrop-filter: blur(0);
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

.burger-menu.show + .overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: absolute;
    background-color: #fefefe;
    padding: 2%;
    border: 6px solid black;
    width: auto;
    max-width: 30%;
    min-width: 5%;
    height: auto;
    max-height: 80%;
    min-height: 5%;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font: 150% 'joystix', sans-serif;
    font-size: 3vh;
    text-align: center;
}

button {
    padding: 1vh 2vw;
    font-weight: bold;
    background-image: url('../img/gameType/button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 50%;
    min-height: 8vh;
    margin: 2vh;
    border-radius: 1vh;
    cursor: pointer;
    font: 150% 'joystix', sans-serif;
    font-size: 0.8rem;
}

.modal-content p,
.modal-content button {
    margin: 2%;
}